@import "tailwindcss";

body {
  font-family: 'Inter', system-ui, sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-\[fadeInUp_0\.5s_ease_forwards\] {
  animation: fadeInUp 0.5s ease forwards;
}

/* Animación del rayito (shimmer) */
@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(400%);
  }
}

.animate-shimmer {
  animation: shimmer 1.4s infinite linear;
}